<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Tareas</h1>
    <div class="center">
        <ul>
            {% for task in tasks %}
            <li>
                <div class="task-details">
                    {{ task.title }} - {{ task.description }}
                </div>
                <div class="task-actions">
                    <a href="{{ url_for('edit_task', id=task.id) }}" class="btn-edit">Editar</a>
                    <a href="{{ url_for('delete_task', id=task.id) }}" class="btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar esta tarea?')">Eliminar</a>
                </div>
                <div style="clear: both;"></div> <!-- Limpiar flotadores -->
            </li>
            {% endfor %}
        </ul>
        
        <a href="{{ url_for('add_task') }}" class="btn-add-task">Agregar Nueva Tarea</a>
    </div>
    
</body>
</html>
